@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Poppins', sans-serif;
  background-color: hsl(144, 20%, 92%);
}
.container{
  max-width: 1170px;
  margin: auto;
  padding: 0 15px;
}
.header{
  padding: 15px 0;
}
.header-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-toggler{
  width: 60px;
  color: hsl(0, 0%, 10%);
  font-size: 16px;
  font-family: inherit;
  font-weight: 500;
  /* border: none; */
  cursor: pointer;
  text-transform: uppercase;
  z-index: 11;
}
.nav{
  display: none;
}